.banner {
    position: relative;
    height: calc(100vh - 220px);

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        font-size: 18px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &__info {
            margin-left: auto;
            padding: 0 32px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
        }

        &__title {
            margin-bottom: 24px;
        }
        
        &__text {
            margin-top: 32px;
            font-size: 18px;
            line-height: 32px;
        }

        &__text,
        &__title,
        &__subtitle {
            color: #111;
            text-align: center;
        }
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-page {
        position: relative;
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #fff;

        &::before {
            position: absolute;
            right: -12px;
            width: 10px;
            height: 1px;
            display: block;
            content: '';
            background-color: #fff;;
        }

        & + .swiper-page {
            margin-left: 24px;
            color: #000;

            &::before {
                right: unset;
                left: -12px;
                background-color: #000;
            }
        }
    }
    
    .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
}