.btn {
    padding: 6px 12px;
    border: solid 1px #29434E;
    background-color: #29434E;
    color: #ffffff;
    display: block;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &--lg {
        font-size: 20px;
        line-height: 26px;
    }

    &--md {
        font-size: 18px;
        line-height: 24px;
    }
    
    &--sm {
        font-size: 16px;
        line-height: 22px;
    }

    &:hover {
        background-color: unset;
        color: #29434E;
    }

    &--inverse {
        color: #111;
        background-color: #fff;
        border: solid 1px #fff;

        &:hover {
            color: #fff;
        }
    }
}