.header {
    padding: 12px 32px;
    height: 62px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    font-size: 16px;
    line-height: 22px;

    &__link {
        & + .header__link {
            margin-left: 16px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__language {
        margin-left: 24px;
        display: flex;
        align-items: center;
    }

    &__lang {
        padding: 6px;
        border: 1px solid #29434e;
        color: #29434e;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            background-color: #29434E;
            color: #ffffff;
        }

        & + .header__lang {
            border-left: none;
        }
    }
}