.subheader {
    padding: 12px 32px;
    height: 90px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;


    &:hover {
        .subheader__name {
            width: 96px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__contasts {
        margin-right: 18px;
        display: flex;
        flex-direction: column;
    }

    &__name,
    &__symbol {
        &.icon {
            width: 36px;
            height: 36px;
        }
    }

    &__name {
        &.icon {
            width: 0;
            transition: all .3s ease-in-out;
        }
    }

    &__link-mail,
    &__link-phone,
    &__link-location {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 8px;
        }
    }

    &__logo {
        display: flex;
        justify-content: flex-end;
    }

    &__form-anchor {
        display: flex;
        justify-content: flex-end;
    }
}