@mixin default_content {
    p,
    ul,
    ol {
        font-size: 18px;
        line-height: 32px;
    }

    p {
        & + p,
        & + ul,
        & + ol {
            margin-top: 16px;
        }
    }

    ul {
        padding-left: 14px;
        
        & > li {
            list-style-type: '—';
            padding-left: 12px;

            &::marker {
                color: #29434E;
            }
        }
    }

    ul,
    ol {
        & > li {
            & + li {
                margin-top: 10px;
            }
        }
    }
}